.actual-power-card .ant-card-head-title {
  align-items: normal;
  display: flex;
  width: 100%;
  padding-bottom: 0;
  font-weight: normal !important;
}

.actual-power-card  .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap, .actual-power-card  .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap {
  flex: none;
  display: none;
}

.actual-power-card .ant-card-extra {
  float: none;
}

.actual-power-card .ant-card-head-wrapper {
  display: block;
}

.actual-power-card .ant-card-head {
  box-shadow: inset 0 -1px 0 #e8e8e8;
  border-bottom: none;
  min-height: 48px;
  margin-bottom: -1px;
  padding: 0 24px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}

.area_card_consumption .tab-circle .ant-tabs-nav-wrap {
  display: none !important;
}

.actual-power-card .ant-card-bordered {
  border: none;
}
