.modal-room-detail .ant-modal-title {
  font-weight: 600;
}
.modal-room-detail .ant-modal-body {
  padding: 0 !important;
}
.modal-reservation-information .ant-modal-body {
  padding: 0 !important;
}
.reservation-information_span {
  color: rgba(0, 0, 0, 0.25);
}
.reservation-information_span-right {
  float: right;
}
.modal-reservation-information .ant-modal-title {
  font-weight: 600;
}
.modal-row {
  background: 'white';
  width: '90%';
  text-align: 'center';
  margin-left: '5%';
  margin-top: '5vh';
  background-color: 'rgba(240, 242, 245, 1)';
  padding: '24px';
  margin: 0;
}
.span-blur {
  color: rgba(0, 0, 0, 0.25) !important;
}
.select-room-card .ant-card-body {
  padding-top: 8px;
  padding-bottom: 24px;
  padding-left: 5px;
  padding-right: 5px;
}
.room-list .ant-card-body {
  padding-top: 24px;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.pt-15 {
  padding-top: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.pr-15 {
  padding-right: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.span-header {
  font-size: 16px;
  font-weight: 700;
}
.span-header-right {
  padding-left: 1vh;
}
.modal-regard .ant-modal-footer {
  text-align: center;
  border: none;
  padding-top: 0;
  padding-bottom: 20px;
}
