/* Guest List Tab CSS */
.guest-list-card .ant-card-actions > li:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.guest-list-card .ant-card-actions {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background: #f7f9fa;
}

/* Create Guest Modal CSS */
.new-guest-modal .ant-upload-list-picture-card-container {
  width: 300px;
  height: 300px;
}

.new-guest-modal .ant-upload-select-picture-card {
  width: 300px !important;
  height: 300px !important;
}

.new-guest-modal .ant-modal-title {
  font-size: 14px;
  font-weight: 700;
}

.new-guest-modal .ant-btn-primary {
  background: #1d39c4;
}

.calendar-table .fc-col-header thead {
  height: 45px;
}

.row-calendar {
  height: 95px;
}

tr {
  height: 50px;
}

.aa tbody > tr {
  height: 95px;
}

/** Fullcalendar custom **/
.fc-h-event {
  background: #1d39c4;
  border-radius: 30px;
  border-color: #1d39c4;
  top: 12px;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  height: 24px;
}

.fc-h-event i {
  font-style: normal;
}

.fc-datagrid-header colgroup,
.fc-timeline-header colgroup {
  background: #fafafa;
}

.fc-icon-chevron-left::before {
  content: '<';
}

.fc-icon-chevron-right::before {
  content: '>';
}

.fc-timeline-header-row .fc-timeline-slot-cushion {
  color: rgba(0, 0, 0, 0.85);
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 10px;
  word-spacing: 15px;
  white-space: initial;
}

.fc-datagrid-header .fc-datagrid-cell-main {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
}

.fc-day-sat .fc-timeline-slot-cushion {
  color: #f5222d;
}

.fc-day-sun .fc-timeline-slot-cushion {
  color: #f5222d;
}

.fc-scrollgrid-section-body .fc-datagrid-cell-main {
  color: rgba(0, 0, 0, 0.65);
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
  box-shadow: inset 0px -1px 0px #e8e8e8;
}

.fc .fc-resource-timeline-divider {
  width: 0px;
}
